<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <script src="{% static 'js/jss.js' %}">
        </script>
        <title>Slot Coming Soon Responsive Widget Template :: W3layouts</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords"
            content="Slot Coming Soon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
        <!--//Style-CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <script src="{% static 'js/nav.js' %}"></script>
        <style>
            body {
	background: url("{% static 'images/Cedar-Hill-Homestead-1.jpg' %}") center/cover no-repeat;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
    backdrop-filter: blur(5px);
  }
  
        </style>
    </head>
    <body>
        <!-- No bacwards compatabilty yet: I'm a terrible person!-->
    <ul class="menu-bar">
        <li>Watch Now</li>
        <li>Movies</li>
        <li>TV Shows</li>
        <li>Sports</li>
        <li>Kids</li>
        <li>Library</li>
        <li>slekjgnlsekj</li>
    </ul>
    {% block base %}


    {% endblock base %}
    </body>
</html>