<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="row news-grids pb-lg-5 mt-3">
            <div class="col-lg-4 gal-img">
                <div class="gal-info">
                    <a href="#gal1"><img src="images/1.jpg" alt="news image" class="img-fluid"></a>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">Tittle goes here</a>
                            </h4>
                            <div class="location mt-2">
                                <a href="single.html">
                               <span class="fa fa-map-marker"></span> 123 Location. Example City,
                            </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span class="fa fa-bed"></span> 3 Bedrooms
                                </li>
                                <li>
                                    <span class="fa fa-shower"></span> 2 Bathrooms
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> Sq Ft:3400
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                            <span class="fa fa-user"></span> Jhon Doe
                        </a>
                            <span class="year text-right"> <span class="fa fa-calendar"></span> 6 years ago</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 gal-img">
                <div class="gal-info">
                    <a href="#gal2"><img src="images/2.jpg" alt="news image" class="img-fluid"></a>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">Tittle goes here</a>
                            </h4>
                            <div class="location mt-2">
                                <a href="single.html">
                               <span class="fa fa-map-marker"></span> 123 Location. Example City,
                            </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span class="fa fa-bed"></span> 2 Bedrooms
                                </li>
                                <li>
                                    <span class="fa fa-shower"></span> 3 Bathrooms
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> Sq Ft:3400
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                            <span class="fa fa-user"></span> Jhon Doe
                        </a>
                            <span class="year text-right"> <span class="fa fa-calendar"></span> 4 years ago</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 gal-img">
                <div class="gal-info">
                    <a href="#gal3"><img src="images/3.jpg" alt="news image" class="img-fluid"></a>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">Tittle goes here</a>
                            </h4>
                            <div class="location mt-2">
                                <a href="single.html">
                               <span class="fa fa-map-marker"></span> 123 Location. Example City,
                            </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span class="fa fa-bed"></span> 4 Bedrooms
                                </li>
                                <li>
                                    <span class="fa fa-shower"></span> 4 Bathrooms
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> Sq Ft:3400
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                            <span class="fa fa-user"></span> Jhon Doe
                        </a>
                            <span class="year text-right"> <span class="fa fa-calendar"></span> 6 years ago</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 gal-img mt-lg-4">
                <div class="gal-info">
                    <a href="#gal4"><img src="images/4.jpg" alt="news image" class="img-fluid"></a>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">Tittle goes here</a>
                            </h4>
                            <div class="location mt-2">
                                <a href="single.html">
                               <span class="fa fa-map-marker"></span> 123 Location. Example City,
                            </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span class="fa fa-bed"></span> 2 Bedrooms
                                </li>
                                <li>
                                    <span class="fa fa-shower"></span> 3 Bathrooms
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> Sq Ft:3400
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                            <span class="fa fa-user"></span> Jhon Doe
                        </a>
                            <span class="year text-right"> <span class="fa fa-calendar"></span> 4 years ago</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 gal-img mt-lg-4">
                <div class="gal-info">
                    <a href="#gal5"><img src="images/5.jpg" alt="news image" class="img-fluid"></a>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">Tittle goes here</a>
                            </h4>
                            <div class="location mt-2">
                                <a href="single.html">
                               <span class="fa fa-map-marker"></span> 123 Location. Example City,
                            </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span class="fa fa-bed"></span> 4 Bedrooms
                                </li>
                                <li>
                                    <span class="fa fa-shower"></span> 5 Bathrooms
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> Sq Ft:3400
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                            <span class="fa fa-user"></span> Jhon Doe
                        </a>
                            <span class="year text-right"> <span class="fa fa-calendar"></span> 2 years ago</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 gal-img mt-lg-4">
                <div class="gal-info">
                    <a href="#gal6"><img src="images/6.jpg" alt="news image" class="img-fluid"></a>
                    <div class="property-info-list">
                        <div class="detail">
                            <h4 class="title">
                                <a href="single.html">Tittle goes here</a>
                            </h4>
                            <div class="location mt-2">
                                <a href="single.html">
                               <span class="fa fa-map-marker"></span> 123 Location. Example City,
                            </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span class="fa fa-bed"></span> 3 Bedrooms
                                </li>
                                <li>
                                    <span class="fa fa-shower"></span> 2 Bathrooms
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> Sq Ft:3400
                                </li>
                                <li>
                                    <span class="fa fa-building-o"></span> 1 Garage
                                </li>
                            </ul>
                        </div>
                        <div class="footer-properties">
                            <a class="admin" href="#">
                            <span class="fa fa-user"></span> Jhon Doe
                        </a>
                            <span class="year text-right"> <span class="fa fa-calendar"></span> 6 years ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</body>
</html>